{% extends 'base.html' %}


{% block main %}


<div class="container-fluid">
    <form action="#" method="POST"> {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-uppercase card"> Expance Delete</h1>


                <div class="row">
                    <div class="col-md-3 mx-auto">
                        <div class="form-group">
                            <label for=""></label>
                            <input disabled type="text" class="form-control text-center" name="name" id="name"
                                aria-describedby="helpId" value={{ st.name }}   placeholder="Enter Vandor Name">

                        </div>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <div class="form-group">
                            <label for=""></label>
                            <input disabled type="text" class="form-control text-center" name="remark" id="remark"
                                aria-describedby="helpId" value={{ st.remark }} placeholder="Enter Vandor Mobile No">

                        </div>
                    </div>

                      <div class="col-md-3 mx-auto">
                        <div class="form-group">
                            <label for=""></label>
                            <input disabled type="text" class="form-control text-center" name="price" id="price"
                                aria-describedby="helpId" value={{ st.price }} placeholder="Enter Vandor Mobile No">

                        </div>
                    </div>
                  
                    <div class="col-md-12 text-center mb-4">
                      <button type="submit" class="bg-primary btn ">Delete</button>
                        
                    </div>
    </form>
</div>





{% endblock main %}